/* 导航栏 */

body {
  background-color: #f0f0f0;
}
body nav {
  width: 100%;
  height: calc(100rem / 64);
  line-height: calc(100rem / 64);
  padding: 0 calc(32rem / 64);
  padding-right: calc(20rem / 64);
  box-sizing: border-box;
  background-color: #fff;
  /* overflow: hidden; */
}
nav .search {
  float: left;
}
nav .search img {
  width: calc(28rem / 64);
  height: calc(28rem / 64);
}
.nav-right {
  float: right;
}
.nav-right img {
  width: calc(34rem / 64);
  height: calc(34rem / 64);
}
nav .logo {
  float: left;
  margin-left: calc(200rem / 64);
}
nav .logo img {
  width: calc(120rem / 64);
  height: calc(22rem / 64);
}
.nav-menu {
  margin-left: calc(30rem / 64);
  overflow: hidden;
}
.nav-menu img {
  height: calc(24rem / 64);
}
.ad {
  width: 100%;
}
.ad img {
  width: 100%;
}
/* 产品 */
.phone {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding-bottom: calc(40rem / 64);
  margin-bottom: calc(20rem / 64);
}
.phone > img {
  width: calc(180rem / 64);
  margin-top: calc(60rem / 64);
  margin-bottom: calc(20rem / 64);
}
.one > img {
  width: calc(80rem / 64);
}
.two > img {
  width: calc(200rem / 64);
}
.there > img {
  width: calc(140rem / 64);
}
.phone p {
  font-size: calc(24rem / 64);
  color: #999999;
  margin-bottom: calc(30rem / 64);
}
.phone span {
  font-size: calc(24rem / 64);
}
.phone a {
  display: block;
  margin-top: calc(30rem / 64);
}
.phone a > img {
  width: calc(260rem / 64);
}

.rest {
  width: 100%;
  overflow: hidden;
}
.rest div {
  width: 50%;
  float: left;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: calc(20rem / 64);
}
.rest div:nth-child(1) {
  border-right: 1px solid #e2e2e2;
}
.rest div:nth-child(2) {
  border-left: 1px solid #e2e2e2;
}
.rest img {
  width: 100%;
}
/* 客服 */
.service {
  width: 100%;
  padding: calc(40rem / 64) 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: calc(10rem / 64);
}
.service a {
  float: left;
  height: calc(70rem / 64);
  width: 46%;
  margin-left: calc(20rem / 64);
  background-color: #00b4ff;
  line-height: calc(62rem / 64);
  text-align: center;
  color: #fff;
  font-size: calc(26rem / 64);
  border-radius: calc(40rem / 64);
}
.service img {
  width: calc(34rem / 64);
  height: calc(34rem / 64);
  margin-right: calc(12rem / 64);
}
body footer {
  background-color: #fff;
  overflow: hidden;
  padding: 0 calc(30rem / 64);
  color: #999;
  padding-bottom: calc(40rem / 64);
}
footer a {
  color: #999;
  line-height: 1.5;
}
.footer-left {
  float: left;
  width: calc(405rem / 64);
}
.footer-right {
  float: right;
  margin-top: calc(16rem / 64);
}
.footer-right img {
  width: calc(30rem / 64);
  height: calc(30rem / 64);
  vertical-align: middle;
}
.footer-right i {
  width: 0;
  height: 0;
  border-width: calc(12rem / 64);
  border-style: solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #cfcfcf;
  position: relative;
  top: calc(-20rem / 64);
}
