/* 导航栏 */
/* body {
  height: 100%;
} */
body nav {
  width: 100%;
  height: calc(100rem / 64);
  line-height: calc(100rem / 64);
  padding: 0 calc(32rem / 64);
  padding-right: calc(20rem / 64);
  box-sizing: border-box;
  /* overflow: hidden; */
}
nav .search {
  float: left;
}
nav .search img {
  width: calc(28rem / 64);
  height: calc(28rem / 64);
}
.nav-right {
  float: right;
}
.nav-right img {
  width: calc(24rem / 64);
  height: calc(24rem / 64);
}
nav .logo {
  float: left;
  margin-left: calc(200rem / 64);
}
nav .logo img {
  width: calc(120rem / 64);
  height: calc(22rem / 64);
}
.nav-right .nav-menu {
  margin-left: calc(30rem / 64);
  overflow: hidden;
}
.nav-menu img {
  height: calc(24rem / 64);
  width: calc(30rem / 64);
}
/* 广告 */
.ad {
  width: 100%;
}
.ad img {
  width: 100%;
}
.site {
  width: 100%;
}
.site-title {
  width: 100%;
  background-color: #f7f7f7;
  height: calc(80rem / 64);
  font-size: calc(26rem / 64);
  padding: 0 calc(20rem / 64);
  box-sizing: border-box;
  line-height: calc(80rem / 64);
}
.site-title span {
  float: left;
}
.site-title a {
  float: right;
}
.site-content {
  width: 100%;
  padding: 0 calc(28rem / 64);
  box-sizing: border-box;
}
.site-content-type {
  padding-top: calc(40rem / 64);
  width: 100%;
  border-bottom: 2px solid #e4e4e4;
  box-sizing: border-box;
}
.site-content-type span {
  display: inline-block;
  padding: calc(20rem / 64) 0;
  font-size: calc(26rem / 64);
}
.site-content-type span:first-child {
  margin-right: calc(40rem / 64);
  border-bottom: 2px solid #00c3f5;
  color: #00c3f5;
}
.site-tetx h3 {
  font-size: calc(28rem / 64);
  color: #00c3f5;
  margin-top: calc(80rem / 64);
  margin-bottom: calc(40rem / 64);
}
.site-tetx p {
  color: #333333;
  font-size: calc(24rem / 64);
  line-height: 1.5;
}
.participate {
  margin-top: calc(80rem / 64);
  padding-top: calc(80rem / 64);
  border-top: 1px solid #e4e4e4;
}
.participate h3 {
  font-size: calc(28rem / 64);
}
.participate div {
  width: 100%;
  border: 1px solid #00c3f5;
  color: #00c3f5;
  padding: calc(20rem / 64);
  font-size: calc(24rem / 64);
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: calc(40rem / 64);
  margin-bottom: calc(80rem / 64);
}
/* 客服 */
.service {
  width: 100%;
  padding: calc(40rem / 64) 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}
.service a {
  float: left;
  height: calc(70rem / 64);
  width: 46%;
  margin-left: calc(20rem / 64);
  background-color: #00b4ff;
  line-height: calc(62rem / 64);
  text-align: center;
  color: #fff;
  font-size: calc(28rem / 64);
  border-radius: calc(40rem / 64);
}
.service img {
  width: calc(34rem / 64);
  height: calc(34rem / 64);
  margin-right: calc(12rem / 64);
}
body footer {
  background-color: #fff;
  overflow: hidden;
  padding: 0 calc(30rem / 64);
  color: #999;
  padding-bottom: calc(40rem / 64);
}
footer a {
  color: #999;
  line-height: 1.5;
}
.footer-left {
  float: left;
  width: calc(405rem / 64);
}
.footer-right {
  float: right;
  margin-top: calc(16rem / 64);
}
.footer-right img {
  width: calc(30rem / 64);
  height: calc(30rem / 64);
  vertical-align: middle;
}
.footer-right i {
  width: 0;
  height: 0;
  border-width: calc(12rem / 64);
  border-style: solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #cfcfcf;
  position: relative;
  top: calc(-20rem / 64);
}
